<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://ddiu.io" target="_blank"
    >
      HLJU
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      马萨卡，这就是我们的未来么？
    </a>
  </p>
</footer>
