<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="mailto:1106533624@qq.com" target="_blank"
    >
      HLJU
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
       href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=ULn1gmxae9VQm8CtKhjV7_kidI_uJWjh&authKey=SqwN8KrlH6z9W2QTijtRTYVFOuIEcdu2Wh9ZcjMVSFfgTlBgvqbxsbRoFGgs9o8o&noverify=0&group_code=275604982" target="_blank"
    >
      点击这里，加入我们！QQ群：275604982 （域名随时会被举报关闭，群里会更新新域名）
    </a>
  </p>
</footer>
